---
layout: default
---

{% if site.data.menu and site.paginate and site.paginate_path and paginator.page > 1 %}
  {% include menu.html %}
{% elsif site.paginate and site.paginate_path and paginator.page > 1 %}
  {% include back-link.html %}
{% else %}
  <header class="site-masthead">
    {% include menu.html %}
    {% if site.title %}
      <h1>
        {{ site.title }}
      </h1>
    {% endif %}
    {% if site.title %}
      <h2>
        {{ site.description }}
      </h2>
    {% endif %}
  </header>
{% endif %}

<main class="home" id="main" role="main" aria-label="Content">

  <div >
    <p>Cognitive capacities such as learning, reasoning, and decision-making are often studied in tasks where a single participant acts in isolation. Yet humans don't learn, reason, and make decisions in a vacuum. Human cognition is distinctively social: Much of what we do influences&#8212;and is influenced by&#8212;ther people. </p> <br>

    <p>The goal of this workshop is to bring together diverse perspectives on the interplay between human cognition and the dynamic, social environments we inhabit. The workshop is organized around three key themes. Theme 1 lays out the cognitive tools that equip individuals to thrive in social environments, including specialized mechanisms for teaching and learning from others. Theme 2 examines how the social environment is itself shaped by the dynamic interactions between multiple individuals, producing emergent behaviors at the level of the collective. Finally, Theme 3 explores how human cognition responds to the demands of particular social environments, including how cultural variability in social cognition might emerge across development.</p>
  </div>
  <h1 class="content-title divided">
    {% if site.paginate and site.paginate_path and paginator.page > 1 %}
      Page {{ paginator.page }}
    {% else %}
      Talks
    {% endif %}
  </h1>

  {% if site.paginate and site.paginate_path %}
    
    <ul class="post-list">
      {% assign sorted = (paginator.posts | sort: 'date') | reverse %}
      {% for post in site.posts %}
        {% include post-list-item.html %}
      {% endfor %}
    </ul>

    {% if paginator.total_pages > 1 %}

      <div class="post-pagination">
        {% if paginator.next_page %}
          <a href="{{ paginator.next_page_path | prepend: site.baseurl  }}" class="pagination-next btn">&lang;&nbsp;Older</a>
        {% else %}
          <span>&nbsp;</span>
        {% endif %}
        <span class="pagination-number">{{ paginator.page }} of {{ paginator.total_pages }}</span>
        {% if paginator.previous_page %}
          <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}" class="pagination-previous btn">Newer&nbsp;&rang;</a>
        {% else %}
          <span>&nbsp;</span>
        {% endif %}
      </div>

    {% endif %}

  {% else %}

    <ul class="post-list">
      {% assign sorted = (paginator.posts | sort: 'date') | reverse %}
      {% for post in site.posts %}
        {% include post-list-item.html %}
      {% endfor %}
    </ul>
  
  {% endif %}
    

</main>